<div class="col m6 offset-3">
  <div class="edit-review-form">
    <h1>Editar Comentario</h1>
    <%= simple_form_for([@sitio, @review]) do |f| %>
      <div id="rating-form">
        <label>Calificar</label>
      </div>
      <%= f.input :comment %>
      <%= f.button :submit, class: "btn white black-text" %>
    <% end %>
  </div>
</div>


<script>
  $('#rating-form').raty({
    path: '/assets',
    scoreName: 'review[rating]'
  });
</script>
