<footer class="row main-footer">
  <div class="col s12 center m4 left">
    &copy; 2018 | Red de Amigos por Chiapas
  </div>
  <div class="col s12 m4 center">
    Dirección: <span>Tuxtla Gutiérrez, Chiapas, México</span> <br>
    <span>5a. Oriente Norte, Edificio A, Planta Baja 2,</span> <br>
    <span>Unidad Quetzalcoatl</span>
  </div>
  <div class="col s12 center m2 right">
    <p>Diseño: <%= link_to image_tag("Logo_ACL_cv_250x250v.png", class: "logoacl"), "https://www.facebook.com/Alexis.Crouz", target:'_blank' %> </p>
  </div>
</footer>
